.menu-zuriona {
	height: 75px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	top: 0;
    z-index: 999999;
    background: #000000;
    
    

    &__container {
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: block;
        align-items: baseline;
        flex-flow: row nowrap;
    }   
    &__nav {
		display: flex;
		flex-flow: row nowrap;
        align-items: baseline;
    
    }
    
    &__item {
        position: relative;
        margin-left: var(--space-xl);
        
        
        &_view {
			&_link {
				display: block;
				text-decoration: none;
                transition: color .15s;
                border-bottom: 1px solid rgb(255,255,255,0.2);
                &:hover {
                    color: rgb(255,255,255,0.9);
                    border-bottom: 1px solid rgb(255,255,255,0.0);
                    cursor: default;
                }
			}
        }
    }
}