.pyrenees {
	box-sizing: border-box;
	
	&:hover {
		cursor: pointer;
		.pyrenees__image {
			transition: 0.4s;
			box-shadow: 0px 20px 250px rgba(255, 255, 255, 0.34);
			
		}

		.pyrenees__link
		{
			border-bottom: 1px solid rgb(255,255,255,0.0);
			
		}

	}

	&__image {
		
		transition: 0.4s;
		height: 309px;
		
	}
	
	&__link {
		font-family: Baskerville;
		border-bottom: 1px solid rgb(255,255,255,0.2);
		display: inline-block;
	}

	
	

}
